/**
 *	UI Forms
 */
.ui-forms {
	position: relative;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-forms span.label {
	display: inline-block;
	height: 16px;
	margin: 0 6px;
	padding: 0;
	font-size: 8pt;
	font-weight: 300;
	color: rgba(255,255,255,0.9);
}

.dark .ui-forms span.label { color: rgba(0,0,0,0.8); }

.ui-forms.disabled span { color: rgba(255,255,255,0.5); }

.ui-forms-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.ui-forms.checkbox input {
	position: absolute;
	top: -30px;
	left: -30px;
	margin: 0;
	padding: 0;
}

.ui-forms.checkbox.stacked {
	position: relative;
	display: inline-block;
	vertical-align: top;
	min-width: 35px;
}

.ui-forms.checkbox.stacked span.label {
	position: absolute;
	left: 18px;
	display: block;
	height: auto;
	margin: 0;
	padding: 0;
	line-height: 1;
}

.ui-forms.checkbox.stacked span.label.checked { top: 0; }
.ui-forms.checkbox.stacked span.label.unchecked { bottom: 0; }

.ui-forms.checkbox .ui-forms-container {
	width: 16px;
	height: 28px;
	background-color: rgba(255,255,255,0.5);

	-webkit-box-shadow: -1px -2px 2px 1px rgba(255,255,255,0.2) inset, -1px 2px 2px 1px rgba(0,0,0,0.4) inset, 0 0 0 1px rgba(0,0,0,0.4);
	-moz-box-shadow: -1px -2px 2px 1px rgba(255,255,255,0.2) inset, -1px 2px 2px 1px rgba(0,0,0,0.4) inset, 0 0 0 1px rgba(0,0,0,0.4);
	box-shadow: -1px -2px 2px 1px rgba(255,255,255,0.2) inset, -1px 2px 2px 1px rgba(0,0,0,0.4) inset, 0 0 0 1px rgba(0,0,0,0.4);

	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-ms-border-radius: 9px;
	border-radius: 9px;
}

.ui-forms.disabled.checkbox .ui-forms-container {
	background-color: rgba(255,255,255,0.4);
	-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;
}

.ui-forms-container > span {
	position: absolute;

	display: block;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	overflow: visible;
	text-align: center;
	text-decoration: none;

	background-color: #e1e3e8;
	background-image:        -webkit-gradient(linear, left top, left bottom, from(#ebecf1), to(#d7dbe0));
	background-image: -webkit-linear-gradient(top, #ebecf1, #d7dbe0);
	background-image:	 -moz-linear-gradient(top, #ebecf1, #d7dbe0);
	background-image:	  -ms-linear-gradient(top, #ebecf1, #d7dbe0);
	background-image:         linear-gradient(top, #ebecf1, #d7dbe0);
	border: 0 none;

	-webkit-box-shadow: 0 1px 1px 0 rgba(255,255,255,0.7) inset, 0 -1px 1px 0 rgba(0,0,0,0.4) inset, 0 0 1px 1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 1px 1px 0 rgba(255,255,255,0.7) inset, 0 -1px 1px 0 rgba(0,0,0,0.4) inset, 0 0 1px 1px rgba(0,0,0,0.6);
	box-shadow: 0 1px 1px 0 rgba(255,255,255,0.7) inset, 0 -1px 1px 0 rgba(0,0,0,0.4) inset, 0 0 1px 1px rgba(0,0,0,0.6);

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

.ui-forms.disabled .ui-forms-container > span {
	background-image: none;
	-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;
}

.ui-forms-container > span > mark {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 2;

	display: block;
	width: 4px;
	height: 4px;
	background-color: #fd2f2f;
	border: 1px solid rgba(0,0,0,0.2);

	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset, 0 0 1px 0 rgba(153,0,0,0.5);
	-moz-box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset, 0 0 1px 0 rgba(153,0,0,0.5);
	box-shadow: 0 1px 1px rgba(255,255,255,0.7) inset, 0 0 1px 0 rgba(153,0,0,0.5);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.ui-forms.disabled .ui-forms-container > span > mark {
	background-color: #999;
	-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;
}

.ui-forms:hover .ui-forms-container > span {
	background-color: #fff;
	background-image:        -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebecf1));
	background-image: -webkit-linear-gradient(top, #fff, #ebecf1);
	background-image:	 -moz-linear-gradient(top, #fff, #ebecf1);
	background-image:	  -ms-linear-gradient(top, #fff, #ebecf1);
	background-image:         linear-gradient(top, #fff, #ebecf1);
}

.ui-forms:hover .ui-forms-container > span > mark {
	background-color: #f00;
	-webkit-box-shadow: 0 1px 1px rgba(255,255,255,1) inset, 0 0 1px 0 rgba(153,0,0,0.2);
	-moz-box-shadow: 0 1px 1px rgba(255,255,255,1) inset, 0 0 1px 0 rgba(153,0,0,0.2);
	box-shadow: 0 1px 1px rgba(255,255,255,1) inset, 0 0 1px 0 rgba(153,0,0,0.2);
}

.ui-forms.checked .ui-forms-container > span { top: 0; }
.ui-forms.unchecked .ui-forms-container > span { bottom: 0; }

.ui-forms.radio {
	display: block;
	width: auto;
	height: 24px;
	margin: 0;
	padding: 2px;
	text-align: center;
	background-color: #f0f0f0 !important;
	background-image:        -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dfdfdf));
	background-image: -webkit-linear-gradient(#fff, #dfdfdf);
	background-image:    -moz-linear-gradient(#fff, #dfdfdf);
	background-image:     -ms-linear-gradient(#fff, #dfdfdf);
	background-image:         linear-gradient(#fff, #dfdfdf);
	border: 0 none;

	-webkit-box-shadow: 0 4px 5px 1px rgba(0,0,0,0.2) inset, 0 1px 0 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 0 4px 5px 1px rgba(0,0,0,0.2) inset, 0 1px 0 0 rgba(255,255,255,0.5);
	box-shadow: 0 4px 5px 1px rgba(0,0,0,0.2) inset, 0 1px 0 0 rgba(255,255,255,0.5);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.ui-forms.radio label.stacked { display: block; }
.ui-forms.radio label.inline { display: inline-block; }

.ui-forms.radio label {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4f4f4f;
	background-image:        -webkit-gradient(linear, left top, left bottom, from(#555), to(#404040));
	background-image: -webkit-linear-gradient(top, #555, #404040);
	background-image:    -moz-linear-gradient(top, #555, #404040);
	background-image:     -ms-linear-gradient(top, #555, #404040);
	background-image:         linear-gradient(top, #555, #404040);
	border: 1px solid rgba(0,0,0,0.9);

	-webkit-box-shadow: 0 1px 1px 0 rgba(255,255,255,0.2) inset;
	-moz-box-shadow: 0 1px 1px 0 rgba(255,255,255,0.2) inset;
	box-shadow: 0 1px 1px 0 rgba(255,255,255,0.2) inset;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.ui-forms.radio label > span {
	display: block;
	padding: 3px 14px 2px;
	font-size: 9pt;
	font-weight: 600;
	color: rgba(255,255,255,0.8);
}

.ui-forms.radio label.selected > span {
	color: rgba(0,0,0,0.8);
}

.ui-forms.radio label input {
	position: absolute;
	top: -30px;
	left: -30px;
	z-index: -1;
}

.ui-forms-combo {
	position: relative;
	min-height: 40px;
	background-color: #f0f0f0;
	background-image:        -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image:    -moz-linear-gradient(top, #fff, #e6e6e6);
	background-image:     -ms-linear-gradient(top, #fff, #e6e6e6);
	background-image:         linear-gradient(top, #fff, #e6e6e6);

	-webkit-box-shadow: 0 1px 1px 0 rgba(255,255,255,0.2) inset;
	-moz-box-shadow: 0 1px 1px 0 rgba(255,255,255,0.2) inset;
	box-shadow: 0 3px 5px 1px rgba(0,0,0,0.2) inset;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}

.ui-forms-combo input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]):not([type="hidden"]) {
	position: absolute;
	top: 6px;
	right: 60px;
	left: 0;
	z-index: 0;
	width: 100%;
}

.ui-forms-combo input[type="submit"],
.ui-forms-combo input[type="reset"],
.ui-forms-combo input[type="button"] {
	position: absolute;
	top: 6px;
	right: 7px;
	z-index: 1;
}

.ui-forms-combo.tight input[type="button"]:first-child { margin-right: 2px; }

.ui-forms.radio label:hover {
	background-color: #666;
	background-image:        -webkit-gradient(linear, left top, left bottom, from(#777), to(#606060));
	background-image: -webkit-linear-gradient(top, #777, #606060);
	background-image:    -moz-linear-gradient(top, #777, #606060);
	background-image:     -ms-linear-gradient(top, #777, #606060);
	background-image:         linear-gradient(top, #777, #606060);
}

.ui-forms.radio label:active {
	background-color: #333;
	background-image:        -webkit-gradient(linear, left top, left bottom, from(#111), to(#444));
	background-image: -webkit-linear-gradient(top, #111, #444);
	background-image:    -moz-linear-gradient(top, #111, #444);
	background-image:     -ms-linear-gradient(top, #111, #444);
	background-image:         linear-gradient(top, #111, #444);
	border: 1px solid rgba(0,0,0,0.9);

	-webkit-box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.2) inset;
	-moz-box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.2) inset;
	box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.2) inset;
}

.ui-forms.radio label.selected {
	color: rgba(0,0,0,0.6);
	background-color: transparent !important;
	background-image: none !important;
	border: 0 none !important;
	-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;
	-webkit-border-radius: 0 !important;-moz-border-radius: 0 !important;-ms-border-radius: 0 !important;border-radius: 0 !important;
}

.ui-form-select {
	display: block;
	width: auto;
	height: auto;
	margin: 0;
	padding: 3px;

	background-color: #056ea9;
	background-image:        -webkit-gradient(linear, left top, left bottom, from(#048abe), to(#044083));
	background-image: -webkit-linear-gradient(top, #048abe, #044083);
	background-image:	 -moz-linear-gradient(top, #048abe, #044083);
	background-image:	  -ms-linear-gradient(top, #048abe, #044083);
	background-image:         linear-gradient(top, #048abe, #044083);

	border-radius: 3px;
}

.ui-form-select label {
	position: relative;
	display: block;
	width: 120px;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: #eee;
	border-radius: 3px;
}

.ui-form-select select {
	display: block;
	width: 97%;
	margin: 0 1% 0 2%;
	padding: 2px 0;
	font-size: 9pt;
	color: rgba(0,0,0,0.6);
	background-color: inherit;
	border: 0 none;

	-webkit-appearance: none;
	-moz-appearance: menuitem;
	appearance: none;
}

.ui-form-select option {
	margin: 2px 0;
	padding: 0;
	font-size: 8.5pt;
	font-weight: 500;
	line-height: 1.4;
	border: 0 none;
}

.ui-form-select option:hover {
	color: rgba(255,255,255,0.8);
	background-color: rgba(0,0,0,0.6);
}
