body {
	background-color: #222;
	background-image: -webkit-gradient(linear, left top, left bottom,from(#444),to(#222));
	background-image: -webkit-linear-gradient(top,#444,#222);
	background-image: -moz-linear-gradient(top,#444,#222);
	background-image: -ms-linear-gradient(top,#444,#222);
	background-image: -o-linear-gradient(top,#444,#222);
	background-image: linear-gradient(top,#444,#222);
}

section, footer {
	width: 80%;
	margin: 0 auto;
}

section hgroup, footer nav {
	text-align: center;
}

section hgroup h1 {
	height: 99px;
	padding: 15px 0 0 0;
	background: url('../img/dprockcreative.png') no-repeat center bottom;
}

section hgroup h2 {
	padding: 10px 0 0;
}

section dl {
	position: relative;
	display: table;
	width: 100%;
	margin: 0;
	padding: 7px 0 0 0;
	border-top: 1px dotted rgba(0,0,0,0.2);
}

section dl:first-child {
	border: none;
}

section dl dt, 
section dl dd {
	display: table-cell;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

section dl dt {
	width: 60px;
}

section dl dt label {
	font-size: 11pt;
	margin-right: 14px;
}

section dl dd {
	width: auto;	
}

section ol {
	list-style: numbers inside;
	font-size: 8pt;
	margin: 0 0 0 17px;
}

section ol li {
	margin: 0 0 0.5em 0;
}

section ul { 
	list-style: none;
}

section > ul > li {
	position: relative;
	cursor: context-menu;
	margin: 0 0 14px 0;
	padding: 14px 14px 11px 14px;
	border: 1px solid rgba(0,0,0,0.05);
	background-color: rgba(255,255,255,0.5);
	box-shadow: inset 0 0 1px rgba(0,0,0,0.25), inset 0 0 10px rgba(0,0,0,0.1);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

section > ul > li:hover {
	background-color: rgba(255,255,255,0.2);
	box-shadow: 0 0 1px rgba(0,0,0,0.25), 0 0 10px rgba(0,0,0,0.1);
}

section > ul > li h4 {
    margin: 0 0 7px;
    font-size: 12pt;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

section > ul > li:hover h4 { color: rgba(255,255,255,0.9); }

section > ul > li blockquote {
	margin: 0;
	padding: 7px;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

section > ul > li blockquote p {
	text-align: left;
}

section > ul > li blockquote small {
	font-size: 8pt;
	font-weight: 300;
	text-align: left;
}

section > ul > li blockquote figure {
	width: 100%;
	min-height: 140px;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

nav {
	font-size: 8pt;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 2px 7px 1px 7px;
}

cite {
	display: block;
	margin: 14px 0 7px;
	padding: 3px 7px 2px;
	color: rgba(255,255,255,0.6);
	text-align: right;
	background-color: rgba(0,0,0,0.5);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}



.help { cursor: help; }