<article>
	<h4>sudoku</h4>
	<p>
		Having acquired a taste for sudoku, I wanted to take a swing at creating a game myself...especially after finding none that randomly generate puzzles.
	</p>
	<p>
		Javascript based random sudoku generator &amp; player. 
	</p>
	<blockquote>
		<a href="http://sudoku.dprockcreative.com" rel="external"><figure style="background-image: url('assets/img/sudoku.png');"></figure></a>
	</blockquote>	
	<p>
		CODE: 	<a href="https://github.com/dprockcreative/sudoku">github.com/dprockcreative/sudoku</a>
	</p>
	<cite>
		jQuery, html5 &amp; css3 [Mobile]
	</cite>
</article>