<label for="uiFormsCheckbox_{{$id}}" class="ui-forms checkbox stacked" ng-class="{checked: Forms.checkbox.checked, unchecked: !Forms.checkbox.checked, disabled: dpcDisabled}">
	<div class="ui-forms-container"><input id="uiFormsCheckbox_{{$id}}" type="checkbox" ng-model="Forms.checkbox.checked" ng-change="Forms.onchange()" ng-disabled="dpcDisabled"/><span><mark></mark></span></div>
	<span class="label checked" ng-bind="Forms.checkbox.labels.checked"></span>
	<span class="label unchecked" ng-bind="Forms.checkbox.labels.unchecked"></span>
</label>
