<ul class="inline">
	<li>
		<select ng-model="Dateselect.Month.value" ng-change="Dateselect.Month.change()">
			<option value="">Month</option>
			<option ng-repeat="month in Dateselect.Month.items" value="{{month.value}}">{{month.label}}</option>
		</select>
	</li>
	<li>
		<select ng-model="Dateselect.Day.value" ng-change="Dateselect.Day.change()">
			<option value="">Date</option>
			<option ng-repeat="day in Dateselect.Day.items" value="{{day.value}}" ng-selected="day.value == Dateselect.Day.value">{{day.label}}</option>
		</select>
	</li>
	<li>
		<select ng-model="Dateselect.Year.value" ng-change="Dateselect.Year.change()">
			<option value="">Year</option>
			<option ng-repeat="year in Dateselect.Year.items" value="{{year.value}}">{{year.label}}</option>
		</select>
	</li>
</ul>