<button type="button" class="picker-minical-button" ng-click="Calendar.UI.toggle()" ng-disabled="dpcDisabled"></button>
<table class="picker-minical" ng-class="{opened: Calendar.UI.opened}">
	<thead>
		<tr>
			<td><button type="button" ng-click="Calendar.Month.UI.Prev.click()" ng-disabled="!Calendar.Month.UI.Prev.active">&laquo;</button></td>
			<td colspan="5"><span ng-bind="Calendar.Month.value|monthToString"></span></td>
			<td><button type="button" ng-click="Calendar.Month.UI.Next.click()" ng-disabled="!Calendar.Month.UI.Next.active">&raquo;</button></td>
		</tr>
		<tr><th>m</th><th>t</th><th>w</th><th>t</th><th>f</th><th>s</th><th>s</th></tr>
	</thead>
	<tbody>
		<tr ng-repeat="week in Calendar.Month.weeks">
			<td ng-repeat="day in week"><button type="button" ng-bind="day.date" ng-click="day.select()" ng-disabled="day.disabled" ng-class="{selected: day.selected}"></button></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7">
				<select class="clean" ng-options="year as year for year in Calendar.Year.years" ng-model="Calendar.Year.value" ng-change="Calendar.Year.change()" tabindex="-1"></select>
			</td>
		</tr>
	</tfoot>
</table>